*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #F1F4F5;
}
div.bigbox {
	width: 1000px;
	margin: 0 auto;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}

/*顶部搜索*/
div.header{	
	padding: 10px;
	margin-top: 10px;
	border:2px solid #66D6D6;
	background-color:#fff;
}
div.header ul li{
	list-style:none;
	display:inline-block;
}
div.header ul li img{
	margin-left: 20px;
	width:150px;
	height:100px;
	cursor:pointer;
}
div.header ul:first-child li:last-child{
	margin-left:85px;
	position:absolute;
	margin-top:25px;
	width:800px;
}
div.header ul:first-child a{
	display:inline-block;
	width:100px;
	height:38px;
	line-height:36px;
	text-align:center;
	color:#fff;
	background-color:#00BEB7;
	text-decoration:none;
	margin-left:-112px;
}
div.header ul li span{
	font-size:18px;
	font-family:"微软雅黑";
}
div.header ul li input{
	width:400px;
	height:42px;
	border:2px solid #00BEB7;
	font-size:14px;
    padding-left:10px;
	outline:none;
	margin-left:10px;
}
div.header ul:last-child{
	padding: 0px 10px;
	width:100px;
	height:30px;
	line-height:30px;
	background-color:#00BEB7;
	position:absolute;
	margin-top:-112px;
	margin-left:867px;
	text-align: center;
}
div.header ul:last-child li a{
	font-size:16px;
	font-family:"微软雅黑";
	text-decoration: none;
	color:#fff;
}
/*导航栏*/
div.center-content>ul{
	  background-color:#00BEB7;
}
div.center-content>ul li{
     list-style: none;
     display:inline-block;
     margin-left:20px;
}
div.center-content>ul li:nth-child(2){
	margin-left:25px;
	width:200px;
	box-shadow:0px 0px 2px 1px #8B8686;
	text-align:center;
}
div.center-content>ul li a{
	text-decoration:none;
	font-size:16px;
	font-family:"微软雅黑";
	color:#fff;
	display: inline-block;
	width:120px;
	height:55px;
	line-height:57px;
	text-align:center;
}
div.center-content>ul li:first-child a:hover{
	background-color:#00BEB7;
}
div.center-content>ul li a:hover{
	background-color:#00B4AE;
}

.concent{
	width: 998px;
	background-color: #F0F0F0;
	border: 1px solid #BBB6B6;
    box-shadow: 0 2px 2px #F0F0F0;
}
.concent .box_title{
	width: 900px;
	margin: 0 auto;
	padding-top: 15px;
}
.concent .box_title ul li{
	float: left;
	margin-top: 10px;
	margin-right: 20px;
}
.concent .box_title .txt1{
	width: 150px;
	height: 20px;
}
.concent .box_title .txt2{
	width: 100px;
	height: 20px;
	padding-left: 30px;
}
.concent .box_title input{
	float: right;
	width: 56px;
    height: 30px;
    background-color: #203A39;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    margin-top: 8px;
}
.concent .stubox{
	width: 900px;
	margin-top: 60px;
	margin: 60px auto;
}
.stubox table{
	width: 900px;
	border-spacing: 0px;
    border-collapse: collapse;
}
.stubox table img{
	width: 90px;
	margin: 5px 0;
}
.stubox table tr:nth-child(odd){
	background-color: #fff;
}
.stubox table tr:nth-child(even){
	background-color: #F0F0F0;
}
.stubox table td{
	border:1px solid #E5E5E3;
	text-align: center;
}
.stubox .tpage{
	text-align: center;
	margin-top: 30px;
}
.stubox .tpage a{
	font-weight: bold;
	color: #00BEB7;
}