<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alumna.mapper.SayMapper" >
	
	<!-- 查询所有用户发表的说说 -->
	<select id="findsayAll" resultType="com.alumna.po.Say">
		SELECT id,uid,content,image,createtime FROM say ORDER BY createtime DESC
	</select>
	
	<!-- 查询指定用户发表的说说 -->
	<select id="findSayUser" parameterType="java.lang.String" resultType="com.alumna.po.Say">
		SELECT id,uid,content,image,createtime FROM say WHERE uid='${value}' ORDER BY createtime DESC
	</select>
	
	<!-- 根据传入的说说id查询所有的回复 -->
	<select id="findReview" parameterType="java.lang.Integer" resultType="com.alumna.po.Review">
		SELECT id,sayid,uid,content,createtime FROM review WHERE sayid='${value}' ORDER BY createtime ASC
	</select>
	
	<select id="findCountLoves" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT count(*) FROM loves WHERE sayid='${value}' AND state='1'
	</select>
	
	<insert id="insertLoves" parameterType="com.alumna.po.Loves">
		INSERT INTO loves(uid,sayid,lovetime,state)VALUES(#{uid},#{sayid},NOW(),'1')
	</insert>
	<select id="findLoves" parameterType="com.alumna.po.Loves" resultType="java.lang.Integer">
		SELECT count(*) FROM loves WHERE uid=#{uid} AND sayid=#{sayid}
	</select>
	<delete id="deleteLoves" parameterType="com.alumna.po.Loves">
		DELETE FROM loves WHERE uid=#{uid} AND sayid=#{sayid}
	</delete>
	
	<!-- 说说评论插入 -->
	<insert id="insertReview" parameterType="com.alumna.po.Review">
		INSERT INTO review(sayid,uid,content,createtime)VALUES(#{sayid},#{uid},#{content},NOW())
	</insert>
	
	<!-- 发表说说 -->
	<insert id="insertSay" parameterType="com.alumna.po.Say">
		INSERT INTO say(uid,content,image,createtime)VALUES(#{uid},#{content},#{image},NOW())
	</insert>
	
	<!-- 删除说说 -->
	<delete id="deleteSay" parameterType="java.lang.String">
		DELETE FROM say WHERE id='${value}'
	</delete>
	
	
</mapper>