<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alumna.mapper.UserMapper" >
  <!-- 登陆 -->
  <select id="findLogin" parameterType="com.alumna.po.User" resultType="com.alumna.po.User">
  	SELECT user.* 
  	FROM user 
  	WHERE number=#{number} AND password=#{password}
  </select>
  <!-- 查询用户的角色 -->
  <select id="findRole" parameterType="java.lang.Integer" resultType="java.lang.String">
  	SELECT role FROM user WHERE id='${value}'
  </select>
  
  <!-- 查找是否有该用户 -->
  <select id="findnumber" parameterType="java.lang.String" resultType="java.lang.Integer">
  	SELECT COUNT(*) AS num FROM user WHERE number='${value}'
  </select>
  
  <!-- 注册 -->
  <insert id="insertuser" parameterType="com.alumna.po.User">
  	INSERT INTO user(number,password,role)VALUES(#{number},#{password},#{role})
  </insert>
  
  
  <!-- 插入在校生信息 -->
  <insert id="insertStudent" parameterType="com.alumna.po.Student">
  	INSERT INTO student(uid,number,createtime)VALUES(#{uid},#{number},NOW())
  </insert>
  
  <!-- 插入毕业生信息 -->
  <insert id="insertGraduate" parameterType="com.alumna.po.Graduate">
  	INSERT INTO graduate(uid,number,createtime)VALUES(#{uid},#{number},NOW())
  </insert>
  	<!-- 更新在校生信息 -->
	<update id="updateStudent" parameterType="com.alumna.po.Student">
		update student set name=#{name},entranceyear=#{entranceyear},courtyard=#{courtyard},
		specialty=#{specialty},banji=#{banji},sex=#{sex},birthday=#{birthday},signature=#{signature},
		interest=#{interest},tell=#{tell},email=#{email},home=#{home},address=#{address}
		where uid=#{uid}
	</update>
  	<!-- 更新在校生头像信息 -->
	<update id="updatePhotoStudent" parameterType="com.alumna.po.Student">
		update student set photo=#{photo} where uid=#{uid}
	</update>
  	
  	
  	<!-- 更新毕业生信息 -->
  	<update id="updateGraduate" parameterType="com.alumna.po.Graduate">
		update graduate set name=#{name},sex=#{sex},birthday=#{birthday},entranceyear=#{entranceyear},
		courtyard=#{courtyard},specialty=#{specialty},banji=#{banji},signature=#{signature},
		interest=#{interest},tell=#{tell},email=#{email},company=#{company},job=#{job},
		worktime=#{worktime},address=#{address},home=#{home}
		where uid=#{uid}
	</update>
  	<!-- 更新毕业生头像信息 -->
  	<update id="updatePhotoGraduate" parameterType="com.alumna.po.Graduate">
		update graduate set photo=#{photo} where uid=#{uid}
	</update>
  
  
  
  <!-- 根据传入的用户uid查询对应的在校生信息 -->
  <select id="findStudent" parameterType="java.lang.Integer" resultType="com.alumna.po.Student">
  	SELECT student.* FROM student WHERE uid=#{uid}
  </select>
  
   <!-- 根据传入的用户uid查询对应的毕业生信息 -->
  <select id="findGraduate" parameterType="java.lang.Integer" resultType="com.alumna.po.Graduate">
  	SELECT graduate.* FROM graduate WHERE uid=#{uid}
  </select>
  
  <select id="findStudentSearch" parameterType="java.lang.String" resultType="com.alumna.po.Student">
  	SELECT student.* FROM student WHERE id is not null 
		${value}
	order by id
  </select>
  
  <select id="findGraduateSearch" parameterType="java.lang.String" resultType="com.alumna.po.Graduate">
  	SELECT graduate.* FROM graduate WHERE id is not null 
		${value}
	order by id
  </select>
  
   <select id="findStudentCity" parameterType="java.lang.String" resultType="com.alumna.po.Student">
  	SELECT student.* FROM student WHERE id is not null 
		${value}
	order by id
  </select>
  
  <select id="findGraduateCity" parameterType="java.lang.String" resultType="com.alumna.po.Graduate">
  	SELECT graduate.* FROM graduate WHERE id is not null 
		${value}
	order by id
  </select>
  
  <!-- 统计动态 -->
  <select id="findCountsay" parameterType="java.lang.String" resultType="java.lang.Integer">
  	SELECT count(*) FROM say WHERE uid='${value}'
  </select>
  <!-- 统计点赞 -->
  <select id="findCountloves" parameterType="java.lang.String" resultType="java.lang.Integer">
  	SELECT count(*) from loves WHERE sayid in (SELECT id FROM say WHERE uid='${value}')
  </select>
  <!-- 统计评论 -->
  <select id="findCountreview" parameterType="java.lang.String" resultType="java.lang.Integer">
  	SELECT count(*) FROM review WHERE uid='${value}'
  </select>
  
</mapper>